options:
  source:
    type: string
    default: ppa:canonical-bootstack/thruk
    description: |
      Optional configuration to support use of additional sources such as:

        - ppa:myteam/ppa
        - cloud:trusty-proposed/kilo
        - http://my.archive.com/ubuntu main

      The last option should be used in conjunction with the key configuration
      option.
  key:
    type: string
    default: 7A207542
    description: |
      Key ID to import to the apt keyring to support use with arbitary source
      configuration from outside of Launchpad archives or PPA's.
  url:
    type: string
    default: "nagios.example.com"
    description: "URL to use for web virtual host"
  trusted_ssl_cert:
    type: string
    default: ''
    description: |
        Name and location of the remotely trusty ssl cert.  Basename of this file
        will be used as the basename of the chain file rooted at
        /etc/ssl/certs.
  trusted_ssl_certlocation:
    type: string
    default: ''
    description: |
        Name and location of the remotely trusty ssl cert.  Basename of this file
        will be used as the basename of the chain file rooted at
        /etc/ssl/certs.
  nagios_context:
    default: "juju"
    type: string
    description: >
      Used by the nrpe-external-master subordinate charm.

      A string that will be prepended to instance name to set the host name
      in nagios. So for instance the hostname would be something like:

        juju-myservice-0

      If you're running multiple environments with the same services in them
      this allows you to differentiate between them.
  log-path:
    default: "/var/log/thruk/thruk.log"
    type: string
    description: >
      The default log path.
  debug-log:
    default: false
    type: boolean
    description: >
      Enables debug logging for thruk.
  debug-log-path:
    default: "/var/log/thruk/debug.log"
    type: string
    description: >
      The default log path for debugging (if enabled).
  screen-log:
    default: false
    type: boolean
    description: >
      Enables debug logging to stderr for thruk - in the default case, this ends
      up in the apache error logs.
  enable-lmd:
    default: true
    type: boolean
    description: >
      If enabled, make use of the LMD - Livestatus Multitool Daemon
