#
#    "             "
#  mmm   m   m   mmm   m   m
#    #   #   #     #   #   #
#    #   #   #     #   #   #
#    #   "mm"#     #   "mm"#
#    #             #
#  ""            ""
# This file is managed by Juju. Do not make local changes.

command[check_thruk_http]=/usr/lib/nagios/plugins/check_http -I localhost -H {{config['url']}}
command[check_thruk_procs]=/usr/lib/nagios/plugins/check_procs -c 1: -a thruk_fastcgi.pl


